.page-body {
  font-family: $basic-font;
  min-height: 100%;


  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content;
  align-content: start;
  height: 100%;
  overflow: hidden;
  background-color: $bg;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
  }
}