.product__image {
    width: 100%;
    height: auto;    
    transform: scale(1.5, 1.5);
    margin-bottom: 25px;

    &--legs {
        position: absolute;
        display: block;
        top: 0px;
    }
}