$text-color: #181818;
$text-color-accent: #0b64fe;

$bg: #ffffff;
$bg-button: #a6ffff;
$bg-button-active: aquamarine;

$brand-color: tomato;

$max-width: 100%;

$basic-font: 'Ubuntu';

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
