$text-color: #181818;
$text-color-accent: #0B64FE;

$bg: #FFFFFF;
$bg-button: #A6FFFF;

$brand-color: tomato;

$max-width: 100%;

$basic-font: "Ubuntu";

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;